# ------------------------------
# Java build files
# ------------------------------
/out/
*.class
*.jar
*.war
*.ear

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# JetBrains IDEs (IntelliJ, PyCharm, etc)
# ------------------------------
.idea/
*.iml
*.iws
*.ipr

# ------------------------------
# OS files (Windows / Mac)
# ------------------------------
Thumbs.db
.DS_Store

# ------------------------------
# Logs
# ------------------------------
*.log
