# Compiled class files
*.class

# build folders
/out/
target/
build/

# IntelliJ
/.idea/
/*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# VS Code
.vscode/

# Mac
.DS_Store
